<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>ログイン</title>

    <%- include("./_share/style.ejs") %>
</head>

<body>
<%- include("./_share/nav.ejs") %>
<main role="main" class="container">
    <div class="row justify-content-center align-items-center" style="height: 600px">
        <div class="col-4">
            <form method="post">
                <h2>Register</h2>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Username" name="username" required="required">
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Email Address" name="email"
                            required="required">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password" name="password"
                            required="required">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Confirm Password" name="confirm_password"
                            required="required">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-md">Register</button>
                </div>
            </form>
            <div class="text-center">
                Already have an account?
                <a href="/">Login here</a>
            </div>
        </div>
    </div>

</main>

<%- include("./_share/js.ejs") %>
</body>
</html>
